[buildout]
parts =
    plone
    zope2
    instance
    omelette
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
eggs =
    elementtree
    collective.formcriteria [tests]
    Products.PDBDebugMode
develop = .

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:secret
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
    ${plone:eggs}
zcml =
    collective.formcriteria
products = ${plone:products}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
