.columnFilter input.context {
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}
.columnFilter .field {
    margin: 0em;
}
table th.sortColumn {
    padding-left: 1em;
    background-image: url(arrowUp.gif);
    background-position: 2px 50%;
    background-repeat: no-repeat;
}
table th.sortColumn.selected {
    background-image: url(arrowTop.gif);
}
