.columnFilter input.context {
    margin-bottom: 1em;
    margin-right: 1em;
}
.columnFilter .field {
    margin: 0em;
}
table.listing th.sortColumn {
    padding-left: 8px;
    background-image: url(arrowUpAlternative.gif);
    background-position: 2px 50%;
    background-repeat: no-repeat;
}