/* Collapsible elements */

/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

.collapsible {
    border: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor; !important;
    margin: 1em 0 0 0;
    padding: 0;
}
.collapsible .collapsibleHeader {
    display: block;
    float: left;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
tr.collapsible .collapsibleHeader {
    display: table-cell;
    float: none;
    margin: 0;
    position: static;
}
.collapsible .collapsibleContent {
    margin: 0;
    padding: 0 1em;
    clear: left;
}
tr.collapsible .collapsibleContent {
    padding: 0;
}

.expandedInlineCollapsible .collapsibleHeader,
.expandedBlockCollapsible .collapsibleHeader {
    padding: 0 6px 0 22px;
    background-image: url(treeExpanded.gif);
    background-repeat: no-repeat;
    background-position: 6px 50%;
    cursor: pointer;
}

.collapsedBlockCollapsible {
    border: none !important;
    height: 1em;
    width: auto;
}
.collapsedBlockCollapsible .collapsibleHeader {
    float: none;
    position: static;
    margin: 0;
    padding: 0 0 0 22px;
    line-height: 1em;
    background-image: url(treeCollapsed.gif);
    background-repeat: no-repeat;
    background-position: 6px 50%;
    cursor: pointer;
}
.collapsedInlineCollapsible .collapsibleContent,
.collapsedBlockCollapsible .collapsibleContent {
    display: none;
}
.collapsedInlineCollapsible {
    border: none !important;
    height: 1em;
    width: auto;
    display: inline;
}
.collapsedInlineCollapsible .collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 22px;
    line-height: 1em;
    background-image: url(treeCollapsed.gif);
    background-repeat: no-repeat;
    background-position: 6px 50%;
    cursor: pointer;
    display: inline;
}

/* </dtml-with> */
